


<table class="main" style="margin-top: 20px;">
    <tr>
        <td >
            <table >
                <tr>
                    <td class="two-column">
                        <table class="column">
                            <tr>
                                <td>
                                    <h4 class="caption-text">Download the App</h4>
                                   
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p class="text">Get our mobile app on any device you use on the App Store or Google Playstore</p>
                                </td>
                            </tr>



                            <tr >

                                <td class="two-column" style="padding-top: 10px;">
                                   

                                            <a  href="https://apps.apple.com/app/jobofa/id6480533469">
                                                <img 
                                               width="140"
                                                src="https://cvconnect.s3.amazonaws.com/static/app_store_main.webp" />
                                            </a>


                                            <a href="https://play.google.com/store/apps/details?id=com.sprinttech.jobofa&pli=1">
                                                <img 
                                                width="140"
                                                src="https://cvconnect.s3.amazonaws.com/static/google_play_agian.png" />
                                            </a> 

                                   
                                </td>
                            </tr>
                        </table>
                   <table class="column markup_image" style="width:200px;">
                    <tr>
                        <td>
                            <img src="https://cvconnect.s3.amazonaws.com/static/email_phone.png" width="500" />
                        </td>
                    </tr>
                   </table>
                    </td>
                </tr>
            </table>



            {% comment %} <table class="column">
                <tr>
                    <td>
                       <img src="https://cvconnect.s3.amazonaws.com/static/email_phone.png"
                       class="markup-image" />
                    </td>
                </tr>
            </table> {% endcomment %}
        </td>
    </tr>
</table>


<table  style="background-color: #fff; width: 100%; max-width:100%;margin: 0px auto; padding-top: 30px; margin-bottom: 30px; margin-top: 30px;">
    <tr style="width: 100%;">
        <td style="width: 100%;">
            <p class="footer-text">For any feedback or inquiries, get in touch with</p>
        </td>
    </tr>
    <tr style="width: 100%;">
        <td style="width: 100%;">
            <p class="footer-text">us at <a href=mailto:“support@Jobofa.com” style="color: #1A73E8;text-decoration: none;">support@Jobofa.com</a></p>
        </td>
    </tr>
    <tr style="width: 100%;">
        <td style="width: 100%;">
            <p class="footer-text">Copyright © Jobofa. 2024 All rights reserved.</p>
        </td>
    </tr>
    <tr style="width: 100%;">
        <td style="text-align: center;">
            <a href="https://www.facebook.com/myjobofa">
                <img class="social-image" src="https://cvconnect.s3.amazonaws.com/static/facebook-icon.png" width="50" alt="">
            </a>
          
           <a href="https://x.com/myjobofa?s=21">
            <img class="social-image" src="https://cvconnect.s3.amazonaws.com/static/x-icon.png" width="50" alt="">
           </a>

           <a href="https://www.linkedin.com/company/jobofa/">
            <img class="social-image" src="https://cvconnect.s3.amazonaws.com/static/linkedin.png" width="50" alt="">
           </a>
           
            <a href="https://www.instagram.com/myjobofa?igsh=MXZsbXc2YmE4a2R5dA==">
                <img class="social-image" src="https://cvconnect.s3.amazonaws.com/static/instagram-icon.png" width="50" alt="">
            </a>
        </td>
    </tr>
</table>