{% autoescape off %}

<style>
    .im {
        color:#fff !important;
    }
</style>

<div >
    
    <h4 >
       {{ title }}
    </h4>
    <div style="font-weight: bold;
   
    padding: 2em;
    border-radius: 0em;">{{ message }}</div>
    <div style="text-align: center; margin-top:10px;    text-align: center;
    margin-top: 7px;
    border-bottom: 1px solid #b3aaaa;
    padding-top: 1em;
    background: black;
    color: white;
    padding-bottom: 0.5em;">
    <div style="text-align: center;">
        <img src="https://www.wirenovo.com/images/logo_white.svg" style="width: 5em;height:5em;border-radius: 50%;" />
    </div>
        Copyright &copy; Wirenovo.com
    </div>

  

</div>


{% endautoescape %}