{% include "emails/includes/header.html" %}

      <center class="wrapper">
        <table class="main">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                               <a href="https://jobofa.com">
                                <img src="https://cvconnect.s3.amazonaws.com/static/logo.png" width="100px" />
                               </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px">
                    <p class="text">Hello {{name}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <pre  class="text">{{ message }}</pre>
                </td>
            </tr>
        </table>


     {% include "emails/includes/footer.html" %}
      </center>
    </body>
</html>