{% include "emails/includes/header.html" %}

      <center class="wrapper">
        <table class="main">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                               <a href="https://jobofa.com">
                                <img src="https://cvconnect.s3.amazonaws.com/static/logo.png" width="100px" />
                               </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px">
                    <p class="text">Hello {{name}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-bold">Welcome to Jobofa🙂</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="inter-text" style="padding-top:15px;">We are thrilled to welcome you to Jobofa, your ultimate destination for career advancement and job hunting!
                        At Jobofa, we understand the importance of finding the perfect job opportunity that aligns with your skills, aspirations, and goals. Whether you're a seasoned professional looking for a career change, a recent graduate eager to kickstart your journey, or an employer seeking top talent, Jobofa has got you covered.</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px;">
                    <p class="inter-text">Thank you for choosing Jobofa as your career companion. We look forward to helping you unlock exciting career opportunities and achieve your professional goals.</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px;">
                    <p class="inter-text">Welcome aboard, and let's embark on this career adventure together!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="inter-text">Warm regards</p>
                </td>
            </tr>
        </table>


     {% include "emails/includes/footer.html" %}
      </center>
    </body>
</html>